:root {
  --color-red: #e50914;
  --color-black: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-black);
  font-family: 'Times New Roman', Times, serif;
}

#logo {
  margin: 10px 20px;
}

#logo img {
  width: 120px;
  height: 60px;
}

#logo a {
  display: inline-block;
  font-size: 25px;
  color: var(--color-red);
  font-weight: 700;
  text-decoration: none;
  font-weight: bolder;
}

.container {
  text-align: center;
  align-content: center;
  margin-top: 82px;
}

.title {
  position: relative;
  font-size: 54px;
  color: #fff;
  margin-bottom: 20px;
  line-height: 64px;
  letter-spacing: 1px;
}

.perfis ul li {
  display: inline-flex;
}

.perfis li a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

.imagem-perfil img {
  width: 137px;
  height: 137px;
  border-radius: 7px;
  margin-bottom: 7px;
  border: 3px solid transparent;
}

.nome-perfil {
  font-size: 20px;
  color: #808080;
  text-decoration: none;
}

li:hover img {
  border: 3px solid white;
}

li:hover span {
  color: white;
}

.button {
  display: inline-flex;

  color: grey;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 500;

  border: 1px solid gray;
  cursor: pointer;

  margin-top: 72px;
  padding: 8px 20px;
}

.button:hover {
  border: 1px solid white;
  color: #fff;
}